{{define "widget:featured"}}
<div class="featured">
  <div class="container -page">
    <div class="flex -row -around">
      <div class="featured-item">
        <i class="featured-icon bx bx-menu"></i>
        <h3 class="featured-heading">Business strategy</h3>
        <p class="featured-paragraph">
          I throw myself down among the tall grass by the stream as I lie close
          to the earth.
        </p>
      </div>

      <div class="featured-item">
        <i class="featured-icon bx bx-menu"></i>
        <h3 class="featured-heading">Business strategy</h3>
        <p class="featured-paragraph">
          I throw myself down among the tall grass by the stream as I lie close
          to the earth.
        </p>
      </div>

      <div class="featured-item">
        <i class="featured-icon bx bx-menu"></i>
        <h3 class="featured-heading">Business strategy</h3>
        <p class="featured-paragraph">
          I throw myself down among the tall grass by the stream as I lie close
          to the earth.
        </p>
      </div>
    </div>
  </div>
</div>
{{end}}
