.featured {
  margin-top: 2rem;

  &-item {
    height: 200px;
    margin: 2rem 0;
    text-align: center;
  }

  &-icon {
    font-size: 3rem;
  }

  &-heading {
    font-size: 1.2rem;
    margin: 20px;
  }

  &-paragraph {
    color: #666;
    width: 60%;
    display: inline-block;
  }
}
