.header {
  height: 500px;
  background-color: dodgerblue;
  display: flex;
  align-items: center;
  justify-content: center;

  &-title {
    color: white;
    font-size: 3rem;
  }

  &-slogan {
    color: white;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}
