@use "../abstract/media";

.grid {
  display: grid;
  gap: 2rem;

  &.-columns-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  &.-columns-3 {
    grid-template-columns: repeat(3, 1fr);
  }

  @media #{media.$small-max} {
    &.-columns-2,
    &.-columns-3 {
      grid-template-columns: 1fr;
    }
  }
}
