@use "../abstract/color";
@use "../abstract/border";

.card {
  background-color: color.$white;
  border-radius: border.$radius;
  overflow: hidden;

  &-header {
    padding: 1.5rem 2rem;
    border-bottom: 1px solid #ededed;
  }

  &-body {
    padding: 2rem;
  }
}
