$none: transparent;

$white: white;
$black: black;

$darken: rgba($black, 0.1);

$on-dark: white;
$on-light: #333;

$primary: dodgerblue;
$primary-hover: rgb(25, 123, 221);
$primary-active: rgb(17, 104, 190);
