// Base
@use "./base";

// Elements
@use "./element/button";

// Components
@use "./component/navbar";
@use "./component/card";
@use "./component/sidebar";
@use "./component/nav";

// Widgets
@use "./widget/header";
@use "./widget/featured";

// Layout
@use "./layout/grid";
@use "./layout/flexbox";
@use "./layout/container";
@use "./layout/grail";

html {
  font-size: 16px;
  line-height: 1.2;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background-color: #ededed;

  * {
    &,
    &::before,
    &::after {
      box-sizing: border-box;
    }
  }
}

.my-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.m-1 {
  margin: 1rem;
}
